# Dependencies required for running the "loose" version of alphabase.
# All dependencies that are also included in `requirements.txt` must be added also here (enforced by a test).
numpy
pandas
h5py
xxhash
biopython
tqdm
regex
pyarrow
pyahocorasick
pyteomics
pyyaml
lxml
rdkit
