# Dependencies required for running the "stable" version of alphaDIA.
# Only usage of fixed versions is allowed, and all dependencies listed here must also be
# included in `requirements_loose.txt` (enforced by a test).
# TODO clean the requirements
numba
numpy
pyyaml
pandas
h5py
contextlib2
xxhash
biopython
psutil
tqdm
scikit-learn
regex
# pydivsufsort
dask
dask_expr
pyahocorasick
pyteomics
lxml
rdkit==2024.3.3
