jupyter
jupyter_contrib_nbextensions
autodocsumm
recommonmark
myst_parser
sphinx
nbsphinx
jinja2
contextfilter
furo
twine
bumpversion
pipdeptree
ipykernel
nbdev
pyteomics
scikit-learn

tqdm
psutil
biopython
numba
numpy
pyyaml
pandas
h5py
contextlib2
mmh3
pydivsufsort
pyahocorasick