# Dependencies required for running tests
pre-commit==3.7.0
nbmake==1.5.3
matplotlib
pytest
# scverse tutorial
anndata==0.10.8 # latest version that is compatible with mudata==0.3.1
mudata==0.2.4 # latest version compatible with python 3.9
