jupyter
jupyter_contrib_nbextensions
autodocsumm
sphinx-rtd-theme
twine
bumpversion
pipdeptree
ipykernel
nbdev
pyteomics

tqdm
psutil
biopython
numba
numpy
pyyaml
pandas
h5py
contextlib2
mmh3
pydivsufsort
pyahocorasick