# Perform pip installation and run all tests

# For feature branches, we don't test the full matrix (os x [stable, loose]) in order to save time & resources.
# On each push to main, the whole test matrix runs.
# In the (assumed to be rare case) that these full matrix tests fail but the reduced matrix tests passed,
# we will learn about it latest after pushing to main. The merge that caused the issue can then be identified.
on:
  push:
    branches: [ main ]
  workflow_dispatch:

name: Pip installation and tests

jobs:
  stable_installation:
    name: Test stable, full, ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest, macos-latest-xlarge]
        python-version : [3.9]
    uses: ./.github/workflows/_run_tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      install-script: pip_install.sh stable,full-stable,tests

  loose_installation:
    name: Test loose, full, ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest, macos-latest-xlarge]
    uses: ./.github/workflows/_run_tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      install-script: pip_install.sh full,tests

  stable_installation_notfull:
    name: Test stable, not full, ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version : [3.9]
    uses: ./.github/workflows/_run_tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      install-script: pip_install.sh stable,tests

  loose_installation_notfull:
    name: Test loose, not full, ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    uses: ./.github/workflows/_run_tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      install-script: pip_install.sh tests
